<%= turbo_frame_tag "budget_frame" do %>
  <h1><%= @budget.name %></h1>

  <table>
    <tr>
      <td>Category</td>
      <td>Goal amount</td>
      <td>Available amount</td>
    </tr>

    <%= render partial: 'category', collection: @budget.categories %>
  </table>
<% end %>

<div>
  <%= link_to "Add transaction", new_transaction_path %>
</div>
<div>
  <%= link_to "Add category", new_category_path %>
</div>
